/* Reset margins and paddings for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Font Size ***/
.large{font-size: 50px;}
.medium{font-size: 30px;}
.small{font-size: 20px;}

/*** Background Color ***/
.background{
    background-color: #eaeef4;
}

.right{
    position:absolute;
    right: 30px;
}

/*** Sidebar ***/
.sidebar{
    width: 115px;
    background-color:#ff9239;
    height: 100%;
    position:fixed;
}

.item{
    width: 115px;
    display: block;    
    color: #5271ff;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;   
}

.bottom{
    position: fixed;
    bottom: 10px;
}

.item:hover{
    background-color: #5271ff;
    color: white;
}

.item.active{
    background-color: #5271ff;
}

svg{
    display: block;
    margin: auto;
}

/*** Page Content ***/
.main-content {
    margin-left: 115px;
}

/*** Header ***/
.header-container{
    padding: 1px;
    padding-left: 20px;
    background-color: #ffffff
}

/*** content ***/
.content-container{      
    padding: 10px; 
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: relative;
}

/*** card ***/
.card-container{
    display: flex;
    flex-wrap: wrap;  
    background-color: #ffffff;    
}

.card-container-2{
    display:flex;
    background-color: #ffffff;    
}

.card-container-margin{
    margin: 20px;
}

.card-container-padding{
    padding: 20px;
}

.card-container-left{
    justify-content:left;
}

.card-container-stretch{
    justify-content:stretch;
}

.card-container-space-evenly{
    justify-content:space-evenly;
}

.card-container-between{
    justify-content:space-between
}

.card{
    width: 240px;
    border-radius: 8px; 
    margin: 10px;
    text-align: center;
    padding: 10px;
    background-color: #cbd4ff;
}

.card-content{
    padding: 20px;
    color: white;
}

/*** Label ***/
.label{
    font-size: 20px;
    font-weight: bold;
}

/*** Payslip Table ***/
table { 
    margin-left:15px;  
    border-collapse: collapse;
    width: 100%;
}
  
th, td{
    text-align: left;
    padding: 10px; 
    border-bottom: 4px solid #ddd;
}

tr:hover{background-color: #ddd;}



